<h1>Vegan Black Metal Burgers</h1>

<h2>Available Burgers</h2>
<ul>
    {{#each burgers}}
        {{#unless this.devoured}}
        <li>
            {{this.burger_name}}
            <form action="burgers/updateOne/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="true">
                <button type="submit">Devour It!</button>
            </form>
        </li>
        {{/unless}}
    {{/each}}
</ul>

<h2>Devoured Burgers</h2>
<ul>
    {{#each burgers}}
        {{#if this.devoured}}
        <li>
            {{this.burger_name}}

            <form action="burgers/updateOne/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="false">
                <button type="submit">Order Another One!</button>
            </form>
        </li>
        {{/if}}
    {{/each}}
</ul>

<h2>Enter a burger you want to eat. Click the "Submit" button.</h2>
<form class="create-update-form" action="burgers/insertOne" method="POST">
    <div class="form-group">
        <input type="text" name="burger_name">
    </div>    
    <button type="submit">Create Burger!</button>
</form>
