<h1>Vegan Black Metal Burgers</h1>

<h2>Available Burgers</h2>
<ul>
    {{#each burgers}}
        {{#unless this.devoured}}
        <li>
            {{this.burger_name}}
            <form method="POST" action="burgers/updateOne?_method=PUT">
                <input type="hidden" name="burger_id" type="text" value="{{this.id}}">
                <button type="submit">Devour It!</button>
            </form>
        </li>
        {{/unless}}
    {{/each}}
</ul>

<h2>Devoured Burgers</h2>
<ul>
    {{#each burgers}}
        {{#if this.devoured}}
        <li>
            {{this.burger_name}}

              {{!-- <form method="POST" action="burgers/orderAgain?_method=PUT">
              <input type="hidden" name="burger_id" type="text" value="{{this.id}}">
                <button type="submit">Order Another One!</button> --}}
            </form>
        </li>
        {{/if}}
    {{/each}}
</ul>

<h2>Enter a burger you want to eat. Click the "Submit" button.</h2>
<form action="burgers/insertOne" method="POST">
    <input type="text" name="burger_name" class="form-control" value=" " id="enter_text">  
    <button type="submit">Create Burger!</button>
</form>
